.firstPart{
    border:0px solid #61dafb;
}

.firstPart .ph{
    font-size: 48px;
}

.mainTitle{
    font-family: "Segoe UI";
}

.edit{
    min-width: 38%;
    max-width: 70%;
}

.editMainInput{
    height: 96px;
    font-size: 36px;
    border: 0px;
    border-bottom: 1px solid red;
    width: 100%;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: rgba(0,0,0,0);
}

.mainTitle h1{
    font-size: 36px;
}
.mainTitle div{

}

.mainTitle button{
    border: 0px;
    background-color: rgba(0,0,0,0);
}

.TitleBlock{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.TitleBlock p{
    display: block;
    max-width: 100%;
}
.TitleBlock h1{
    word-wrap: break-word;
    display: inline;
    width: 100%;
}

.underHead{
    display: flex;
    width: 320px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #1F2024;
    padding: 2px;
    border-radius: 10px;
}

.time{
    display: flex;
    align-items: center;
}
.time time{
    margin-left: 5px;
}

.rubrick{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}


.rubrick:before{
    position: absolute;
    content: '';
    width: 1px;
    background-color: #1F2024;
    height: 27px;
    left: -12px;
}

.rubrick p{
    margin-right: 5px;
}

.rubrick svg{
    width: 16px;
}

.modalRubrick{
    z-index: 99;
    position: absolute;
    top: 40px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    max-height: 100px;
    overflow: auto;
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
}
.list{

}

.list.active{
    background-color: #61dafb;
}

.avatarBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%
}
.wrapAva{
    width: 50%;
}

.wrapAva button{
    width: 100%;
    height: 50px;
}

.wrapAva img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.wrapAva input{
    display: none;
}