/*.firstPart{*/
/*    background-color: #61dafb;*/
/*}*/

/*.mainTitle{*/
/*    font-family: "Segoe UI";*/
/*}*/

/*.mainTitle p{*/
/*    font-size: 48px;*/
/*}*/

/*.mainTitle button{*/
/*    border: 0px;*/
/*}*/

/*.underHead{*/
/*    display: flex;*/
/*    width: 320px;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    border: 1px solid #1F2024;*/
/*    padding: 2px;*/
/*    border-radius: 10px;*/
/*}*/

/*.time{*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/
/*.time time{*/
/*    margin-left: 5px;*/
/*}*/

/*.rubrick{*/
/*    position: relative;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    cursor: pointer;*/
/*}*/


/*.rubrick:before{*/
/*    position: absolute;*/
/*    content: '';*/
/*    width: 1px;*/
/*    background-color: #1F2024;*/
/*    height: 27px;*/
/*    left: -12px;*/
/*}*/

/*.rubrick p{*/
/*    margin-right: 5px;*/
/*}*/

/*.rubrick svg{*/
/*    width: 16px;*/
/*}*/

/*.modalRubrick{*/
/*    position: absolute;*/
/*    top: 40px;*/
/*    background-color: white;*/
/*    border-radius: 10px;*/
/*    padding: 10px;*/
/*    max-height: 100px;*/
/*    overflow: auto;*/
/*    display: grid;*/
/*    grid-template-rows: repeat(auto-fill, 1fr);*/
/*}*/
/*.list{*/

/*}*/

/*.list.active{*/
/*    background-color: #61dafb;*/
/*}*/


.bottom{
    display: flex;
    justify-content: center;
    width: 100%;
}

