.coloda{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wraper{
    box-sizing: border-box;
    margin-bottom: 30px;
    margin-top: 40px;
    position: relative;
    width: 820px;
    height: auto;
}

.card{
    position: absolute;
    box-sizing: border-box;
    z-index: 1;
    width: 820px;
    height: 100%;
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}
.card:hover{
    border: 2px solid #61dafb;
}

.contentCard{
    white-space: pre-wrap;
    word-wrap: break-word;
    height: 100%;
    width: 100%;
}

.contentCard.img{
    object-fit: cover;
    height: 800px;
    width: 100%;
}

.contentCard.p{
    word-wrap: break-word;
    vertical-align: top;
    height: auto;
    width: auto;
    padding: 20px;
}

.contentCard.h{
    word-wrap: break-word;
    vertical-align: top;
    height: auto;
}

.controlPanel{
    width: 100%;
    border: 0px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 3;
    top: -30px;
    right: 0px;
    background-color: rgba(0,0,0,0.1);
}



.editModal{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    z-index: 50;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.8);
}
.wrapTextArea{
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    width: 50%;
    background-color: #707070;
}

.editModal textarea{
    resize: none;
    height: 100%;
}

@media (max-width: 1024px) {
    .wraper{
        width: 90%;
    }
}

