
.preloader{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu{
    width: 90vw;
    left: 5vw;
    transform: translateY(-100%);
    background-color: #9E9C9C;
    z-index: 80;
    position: fixed;
    box-shadow: 0 0 5px 2px;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
}

.menuActive{
        transform: translateY(0);
}

.menu .modal{
    background: rgba(0,0,0,0.3);
    z-index: 10;
    text-transform: uppercase;
    position: absolute;
    right: 0px;
    bottom: -58px;
    border-radius:0 0 4px 4px;
    border: #1F2024 5px solid;
    border-top: none;
    padding: 4px;

}
.menu .modal svg{
    fill: #E6E9EC;
    width: 40px;
    height: 40px;
}

.leftPart{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.d1 {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:200px 0px 30px 0;
}

.d1 input {
    box-sizing: inherit;
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #9E9C9C;
    border-radius: 5px 0px 0px 5px;
    border-right: 0px;
    outline: none;
    background: #F9F0DA;
    color: #9E9C9C;
}

.d1 button {
    background: #F9F0DA;
    border: 2px solid #9E9C9C;
    border-left: 0px;
    box-sizing: inherit;
    width: 42px;
    height: 42px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}


.d1 button svg{
    fill: #707070;
    width: 100%;
    height: 100%;
}
.d1 button:hover svg{
    fill: #1F2024;
}


.gridCategory{
    display: grid;
    /*grid-template-rows: 1fr;*/
    /*grid-template-columns: repeat(auto-fill,1fr);*/

    grid-template-rows: repeat(auto-fill, 1fr);
    /*grid-auto-rows: 44px;*/
    grid-template-columns: repeat(auto-fill, minmax(130px, 140px));
    width: 100%;
}

.el{
    margin: 4px;
}
.el.active{
    border: 2px solid #F78306;
    background-color: #A3D0C3;
    border-radius: 5px;
}

.newsBlock {
    box-shadow: 0 0 5px 2px;
    margin-bottom: 100px;
    position: relative;
    color: white;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: repeat(auto-fill, 1fr);
    width: 100%;
}

.card{
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    box-sizing: content-box;
    max-height: 511px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(0,0,0,0.5); ;
}

.img{

    height: 80%;
    width: 100%;
}

.img img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.category{
    padding: 10px;
    position: absolute;
    top: 10px;
    background-color: #61dafb;
}

.content{
    width: 100%;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}
.content h2{
    overflow: hidden;
    font-size: 18px;
    max-width: 100%;
}
.content a:hover{
    color: #F78306;
}

.content a{
    display: inline;
    max-width: 100%;
}

.also{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time{
    display: flex;
    align-items: center;
}



.calculator{
    width: 674px;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.blockCalcButtons{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.calcButton{
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1F2024;
    height: 62px;
    margin: 10px;
}

.calcButton.active{
    background-color: #61dafb;
}

.calcButton:hover{
    box-sizing: border-box;
    border: 1px solid #61dafb;
}


.topMenu{
    z-index: 20;
    position: fixed;
    width: auto;
    bottom: 30px;
    right: 20px;
}

.wrapperButton{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

a.knopka {
    cursor: pointer;
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background-color: #fba343; /* фон кнопки */
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
}
a.knopka:hover { background-color: #fbba74; } /* при наведении курсора мышки */
a.knopka:active { background-color: #F78306; } /* при нажатии */