


.d1 {
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding: 30px 0;
    background: #A3D0C3;
}

.d1 input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: #9E9C9C;
}

.d1 button {
    width: 42px;
    height: 42px;
    border: none;
    background: #7BA7AB;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}


.gridCategori{
    display: grid;
}

.el{

}
.el.active{
    background-color: #61dafb;
    border-radius: 5px;
}

.newsBlock {
    margin: 20px 0px 0px 5%;
    position: relative;
    z-index: 10;
    color: white;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: repeat(auto-fill, 1fr);
    width: 60%;
    grid-gap: 10px;
}

.card{
    border-radius: 10px;
    box-sizing: border-box;
    max-height: 511px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(0,0,0,0.5); ;
}

.img{

    height: 80%;
    width: 100%;
}

.img img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.category{
    padding: 10px;
    position: absolute;
    top: 10px;
    background-color: #61dafb;
}

.content{
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}
.content h2{
    overflow: hidden;
    font-size: 18px;
    max-width: 100%;
}

.content a{
    display: inline;
    max-width: 100%;
}

.also{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time{
    display: flex;
    align-items: center;
}


.topMenu{
    position: fixed;
    width: 200px;
    bottom: 0px;
    right: 0px;
    background-color: #fff6da;
}