
body{
    background-color: snow;
}


body a {
    text-decoration: none;
    color: white;
}


body input, a:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

header {
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #1F2024;
    display: flex;
    justify-content: center;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1364px;
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
}


.leftHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: "Corbel";
    font-weight: bold;
    font-size: 24px;
    color: white;
}

.mainLink {

    display: flex;
    align-items: center;
    margin-right: 43px;
}

.mainLink a:hover{
    color: #61dafb;
}

.mainLink a {
    display: inline;
}


.menu {
    cursor: pointer;
    display: flex;
    position: static;
    align-items: center;
    min-width: 174px;
    background-color: #1F2024;
    color: white;
    height: 70px;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
}


.menu.active{
    color: #1F2024;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.7);
}

.menu svg{
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
    fill: white;
}



.menu:hover {
    color: #61dafb;
}

.menu:hover svg{
    fill: #61dafb;
}

.menu.active svg{
    fill: #1F2024;
}



.divActive{
    height: 10px;
    width: 174px;
    top: 0;
    background-color: #1F2024;
    position: absolute;
}

.menu.active .divActive{
    position: absolute;
    height: 10px;
    width: 174px;
    background-color: #1F2024;
}

.menu.active p{
    color: #1F2024;
}

.menu p {
    margin: 0 4px;
}


.menuButtom{
    display: none;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
    transition-property: top;
}

.menuButtom.active{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 52px;
    left: 0px;
    top: 70px;
    border-radius: 0 0 10px 10px;
    padding: 0px 4px 4px;
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    border-top: 0px solid white;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
    transition-property: top;

}

.rubrik{
    margin: 10px 0;
    max-height: 324px;
    overflow: auto;
    width: 560px;
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-auto-rows: 44px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));

}

.rubrik *{
    cursor: pointer;
}

.rubrik svg{
    margin-left: 4px;
}


.linkButton{
    padding: 3px;
    border: 3px solid white;
    display: inline-block;
    color: #1F2024;
    border-radius: 20px;
    background-color: #E6E9EC;
}


.linkButtonHover{
    padding: 3px;
    border: 3px solid #FB9F26;
    display: inline-block;
    color: #FB9F26;
    border-radius: 20px;
    background-color: #E6E9EC;
}


.linkButtonFollow{
    padding: 3px;
    border: 3px solid #61dafb;
    display: inline-block;
    color: #61dafb;
    border-radius: 20px;
    background-color: #E6E9EC;
}


.calculator{
    width: 674px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.search{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.input{
    padding: 0px;
    width: 583px;
    padding-left: 10px;
    height: 51px;
    border: none;
    border-radius:10px  0 0  10px;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.buttonSearch{
    background-color: white;
    height: 51px;
    padding-right: 4px;
}

.blockCalcButtons{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.calcButton{
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1F2024;
    height: 62px;
    margin: 10px;
}

.calcButton.active{
    background-color: #61dafb;
}

.calcButton:hover{
    box-sizing: border-box;
    border: 1px solid #61dafb;
}


@font-face {
    font-family: "CorbelBold";
    src: url("../../assets/fonts/Corbel.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


@media (max-width: 1364px){
    .container {
        width: 100%;
        max-width: 1024px;
    }

    .leftHeader {
        display: flex;
        justify-content: space-between;
        font-family: "Corbel";
        font-weight: bold;
        width: 100%;
        font-size: 24px;
        color: white;
    }

    .search{
        display: none;
        justify-content: center;
        align-items: center;
    }
}

    @media (max-width: 1024px) {
    .container {
        width: 100%;
        max-width: 724px;
    }
        .menuButtom.active{
            align-items: stretch;
        }

        .blockCalcButtons{
            display: block;
        }



}

@media (max-width: 768px) {

    .container {
        width: 100%;
    }

    .leftHeader {
        display: flex;
        justify-content: space-around;
        font-family: "Corbel";
        font-weight: bold;
        width: 100%;
        font-size: 24px;
        color: white;
    }
    .menuButtom.active{

    }
}



@media (max-width: 537px) {
    header p,a{
        font-size: 16px;
    }
    .menu{
        justify-content: flex-end;
    }
    .mainLink{
        margin-right: 0px;
        margin-left: 4px;
    }
    .divActive{
        display: none;
    }

    .menuButtom.active{
        flex-direction: column;
        right: 0px;
    }

    .rubrik{
        width: 100%;
        max-height: 132px;
    }
    .wrapperButtons{
        display: flex;
        justify-content: center;
    }
    .calculator{
        width: 100%;
    }
}

