.wrapper{
    box-shadow: 0 0 5px 2px;
    margin-top: 110px;
    margin-bottom: 110px;
    padding: 50px;
}

.d1 {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding:20px 0px 30px 0;
}

.d1 input {
    box-sizing: inherit;
    width: 50%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #9E9C9C;
    border-radius: 5px 0px 0px 5px;
    border-right: 0px;
    outline: none;
    background: #F9F0DA;
    color: #1F2024;
}

.d1 button {
    background: #F9F0DA;
    border: 2px solid #9E9C9C;
    border-left: 0px;
    box-sizing: inherit;
    width: 42px;
    height: 42px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}


.d1 button svg{
    fill: #707070;
    width: 100%;
    height: 100%;
}
.d1 button:hover svg{
    fill: #1F2024;
}

.title{
    box-shadow: #E6E9EC;
    display: inline-block;
    font-family: "Segoe UI";
    color: #1F2024;
    border-bottom: #1F2024;
    margin-left: 10px;
    padding: 4px;
    border-radius: 5px;
    background: rgba(255,255,255, 0.3);
}

.title h1{
    padding: 0;
    margin: 0;
}

.newsBlock {
    position: relative;
    color: white;
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    grid-template-rows: repeat(auto-fill, 1fr);
    width: 100%;
}

.card{
    height: 400px;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    box-sizing: content-box;
    max-height: 511px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(0,0,0,0.5); ;
}


.img{

    height: 80%;
    width: 100%;
}

.img img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.category{
    padding: 10px;
    position: absolute;
    top: 10px;
    background-color: #61dafb;
}

.content{
    width: 100%;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}
.content h2{
    overflow: hidden;
    font-size: 18px;
    max-width: 100%;
}
.content a:hover{
    color: #F78306;
}

.content a{
    display: inline;
    max-width: 100%;
}

.also{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time{
    display: flex;
    align-items: center;
}

.preloader{
    padding: 40px 0  20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapperButton{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

a.knopka {
    cursor: pointer;
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background-color: #fba343; /* фон кнопки */
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
}
a.knopka:hover { background-color: #fbba74; } /* при наведении курсора мышки */
a.knopka:active { background-color: #F78306; } /* при нажатии */