
.backgr{
    position: relative;
    overflow: hidden;
    background-color: #E6E9EC;
}
.container{
    font-family: "Segoe UI";
    overflow: hidden;
    margin: 0 auto;
    min-height: 100vh;
    max-width: 1364px;
}