



.app-wrapper-content{
    max-width: 1364px;
    margin:0 auto;
}



@media (max-width: 1364px){
    .app-wrapper-content{
        max-width: 1024px;
        margin:0 auto;
    }
}

@media (max-width: 1024px) {
    .app-wrapper-content{
        max-width: 724px;
        margin:0 auto;
    }


}

@media (max-width: 768px) {
    .app-wrapper-content{
        max-width: 482px;
        margin:0 auto;
    }
}

@media (max-width: 482px) {

}


@font-face {
    font-family: "CorbelBold";
    src: url("assets/fonts/Corbel.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

